<%- include('header'); -%>
    <div class="row">
        <% if(cart.length> 0){ %>
            <% cart.forEach((item)=> { %>
                <div class="row row-product">
                    <div class="col-lg-7 input-product">
                        <%= item.product_name %>
                    </div>
                    <div class="col-lg-2 input-price">
                        $ <%= Number.parseFloat(item.price).toFixed(2) %>
                    </div>
                    <div class="col-lg-1">
                        <form action="/cart/update/qty" method="post" class="form">
                            <div class="form-group">
                                <input name="quantity" type="number" class="form-control" value="<%= item.qty %>">
                                <input name="id" type="hidden" value="<%= item.id %>">
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                    <div class="col-lg-2 input-price">
                        $ <%= Number.parseFloat(eval(item.qty * item.price)).toFixed(2) %>
                    </div>
                </div>
                <% }); %>
                    <% } else { %>
                        <p>Your cart is empty.</p>
                        <% }; %>
    </div>
    <%- include('footer'); -%>

